<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @has_favorite.customer %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @has_favorite.recipe %>
</p>

<%= link_to 'Edit', edit_has_favorite_path(@has_favorite) %> |
<%= link_to 'Back', has_favorites_path %>
