<h2> Database Tables: </h2>
<p>
  Diese Links führen zu den Datenbank-Tabellen. Man kann Einträge hinzufügen, ändern und löschen, 
  deswegen empfehle ich diese Seiten zum hinzufügen von Testdaten in die Datenbank und zur simplen
  Datenbankadministration. Wenn neue Tabellen hinzugefügt werden sollen, so muss dies über Rails
  geschen. Fügen sie den Link zu neuen Tabellen zu Datei "app/views/db/index.html.erb"
  hinzu.
</p>
<pre>
  <%= link_to 'Customers', controller: "customers" %> <br> 
  <%= link_to 'Recipes', controller: "recipes" %> <br>
  <%= link_to 'Ingredients', controller: "ingredients" %> <br>
  <%= link_to 'Units', controller: "units" %> <br>
  <%= link_to 'Pictures', controller: "pictures" %> <br>
</pre>
<p>
  Wir können diese Seiten evtl als Basis für die Bearbeitungsviews nutzen.
</p>