

<div class="col-md-6">
<h2> picture </h2>
</div>

<div class="col-md-6">

<h2> <%=@recipes.name %> </h2>

<p>
<strong> Beschreibung: </strong>
<%=@recipes.description %>
</p>

<p>
<strong> Schwierigkeitsgrad: </strong>
<%=@recipes.difficulty %>
</p>

<p>
<strong> Zeitaufwand: </strong>
<%=@recipes.time %>
</p>

<!--
<p>
<strong> benötigte Zutaten: </strong>
</p>
-->

<p>
<strong> Howto: <strong>
<%=@recipes.howto %>
</p>

</div>