<%= form_tag("/recipe_display", method: "create") do %>
  
<div class="field">
    <%= label_tag(:name, "Name:") %>
  </div>
  <div class="field">
    <%= text_field_tag(:name) %>
  </div>

  <div class="field">
    <%= label_tag(:description, "Beschreibung:") %>
  </div>
  <div class="field">
    <%= text_area_tag(:description) %>
  </div>
  
<div class="field">
    <%= label_tag(:howto, "Zubereitung:") %>
  </div>
  <div class="field">
    <%= text_area_tag(:howto) %>
  </div>

<div class="field">
    <%= label_tag(:difficulty, "Schwierigkeitsgrad:") %>
  </div>
  <div class="field">
    <%= number_field(:difficulty, in: 1.0..10.0, step: 1.0) %>
  </div>

<div class="field">
    <%= label_tag(:tools, "Geraete:") %>
  </div>
  <div class="field">
    <%= text_area_tag(:tools) %>
  </div>
  
<div class="actions">
    <%= submit_tag("Erstellen") %>
  </div>
<% end %>

